<div class="row">
  <div class="col-auto mr-auto">
    <h3><%= @owner %>'s Gists</h3>
  </div>
  <div class="col-auto right-gap">
    <%= link_to "Back", dashboard_index_path, {class: 'btn btn-sm btn-outline-secondary'} %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <% if @gists.count == 0 %>
      <div class="gistcatch-box">
        <h6>No gists.</h6>
      </div>
    <% else %>
      <div id="accordion" class="top-gap">
          <% @gists.each do |g| %>
            <% g.files.each do |f| %>
              <div class="container">
                <div class="row">
                  <div class="col-1 card-link">
                    <%= link_to g.starred ? unstar_gist_path(id: g.id) : star_gist_path(id: g.id), remote: true, id: "link-#{g.id}", method: :put do %>
                    <button class="btn btn-outline-secondary col-12 text-left">
                      <i id="icon-<%= g.id %>" class="<%= g.starred ? "fas" : "far" %> fa-star"></i>
                    </button>
                    <% end %>
                  </div>
                  <div class="col-11">
                    <div class="card" style="margin-bottom: 10px;">
                      <div class="card-link" id="card<%=g.id%>">
                        <button class="btn btn-outline-secondary col-12 text-left" data-toggle="collapse" data-target="#collapse<%=g.id%>" aria-expanded="true" aria-controls="collapse<%=g.id%>" ><%= f[0]%>
                          <% unless g.public %>
                            <span class="badge badge-light">Secret</span>
                          <% end %>
                        <%= link_to "", {controller: "dashboard", action: "gist_content", id: g.id, remote: true} %>
                        </button>
                        </div>
                      </div>
                  </div>
                </div>
                <div id="collapse<%=g.id%>" class="collapse" aria-labelledby="<%=g.id%>" data-parent="#accordion">
                  <div id="cardcontent<%=g.id%>" class="card-body"></div>
                </div>
              </div>
              <%  break if f.count > 1 %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
