<ul class="nav nav-pills nav-fill">
  <li class="nav-item active"><a data-toggle="tab" href="#following"><h1>Following (<%= @following.count %>)</h1></a></li>
  <li class="nav-item"><a data-toggle="tab" href="#followers"><h1>Followers (<%= @followers.count %>)</h1></a></li>
</ul>
 <hr>
<div class="tab-content">
  <div id="following" class="tab-pane active">
    <h1>Following (<%= @following.count %>)</h1>
    <% @following.each do |f| %>
      <%= link_to get_follower_gists_path(f.login) do %>
        <div class="card" style="width: 10rem; display:inline-block; margin-bottom: 10px">
          <img class="card-img-top" src="<%= f.avatar_url %>" alt="Card image cap">
          <div class="card-block">
            <h5 class="card-title" style="margin: 5px;"><%= f.login %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="followers" class="tab-pane">
    <h1>Followers (<%= @followers.count %>)</h1>
    <% @followers.each do |f| %>
      <%= link_to get_follower_gists_path(f.login) do %>
        <div class="card" style="width: 10rem; display:inline-block; margin-bottom: 10px">
          <img class="card-img-top" src="<%= f.avatar_url %>" alt="Card image cap">
          <div class="card-block">
            <h5 class="card-title" style="margin: 5px;"><%= f.login %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>