<ul class="nav nav-pills justify-content">
  <li class="nav-item active">
    <a data-toggle="tab" class="btn btn-info" href="#following">
      Following  <span class="badge badge-pill badge-light"><%= @following.count %></span>
    </a>
    <a data-toggle="tab" class="btn btn-secondary" href="#followers">
      Followers  <span class="badge badge-pill badge-light"><%= @followers.count %></span>
    </a>
  </li>
</ul>
<div class="tab-content top-gap">
  <div id="following" class="tab-pane active">
    <h2 class="text-center cyan-text">Gists from People You Follow</h2>
    <br>
    <% @following.each do |f| %>
      <%= link_to gists_path(f.login), style: "text-decoration: none" do %>
        <div class="card bg-info bg-gradient-info shadow-info border-info mb-3 text-white stampsize">
          <img class="card-img-top" src="<%= f.avatar_url %>" alt="Card image cap">
          <div class="card-block">
            <span class="card-title"><%= f.login %></span>
            <div class='card-status'>
              <%= following?(f.id, @followers) ? "Follows you" : "&nbsp;".html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div id="followers" class="tab-pane">
    <h2 class="text-center grey-text">Gists from Your Followers</h2>
    <br>
    <% @followers.each do |f| %>
      <%= link_to gists_path(f.login), style: "text-decoration: none" do %>
        <div class="card bg-secondary mb-3 stampsize follower">
          <img class="card-img-top" src="<%= f.avatar_url %>" alt="Card image cap">
          <div class="card-block">
            <span class="card-title"><%= f.login %></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
