<div class="row">
  <div class="col-auto mr-auto">
    <h3>New Gist</h3>
  </div>
  <div class="col-auto right-gap">
    <%= link_to "Back", dashboard_index_path, {class: 'btn btn-sm btn-outline-secondary'} %>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <%= form_with model: @gist, url: create_gist_path, method: :post, local: true do |form| %>
      <%= render "model_errors", model: @gist, model_name: "gist" %>

      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_field :description, class: "form-control", placeholder: "Gist description…" %>
      </div>

      <div id="files">
        <%= form.fields_for :files do |file_form| %>
          <%= render "file_fields", f: file_form %>
        <% end %>
      </div>

      <div class="form-check">
        <%= form.check_box :public, class: "form-check-input" %>
        <%= form.label :public, "Create public gist", class: "form-check-label" %>
      </div>

      <div class="row mt-3">
        <div class="col-auto mr-auto">
          <%= link_to_add_association "Add File", form, :files,
            class: "btn btn-outline-secondary",
            "data-association-insertion-node" => "#files",
            "data-association-insertion-method" => "append"
          %>
        </div>
        <div class="col-auto right-gap">
          <%= form.submit "Create", class: "btn btn-outline-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
