<!DOCTYPE html>
<html>
  <head>
    <title>GistGood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= link_to "Gist Catch", root_path, {class: "navbar-brand"}%>
          <% if user_signed_in? %>
            <span><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></span>
          <% end %>
        </nav>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
