<!DOCTYPE html>
<html>
  <head>
    <title>GistCatch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header>
        <% if user_signed_in? %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= image_tag "logo_transparent_new.png", width: 50, style: "margin-right: 10px;" %>
          <%= link_to "Gist Catch", root_path, {class: "navbar-brand nav-header"}%>
          <div class="align-right">
            <%= link_to 'My Gists', gists_path(current_client.login), {class: 'btn btn-outline-secondary btn-sm'}%>
            <%= link_to 'New Gist', new_gist_path, class: 'btn btn-outline-secondary btn-sm' %>
            <%= link_to 'Sign out', destroy_user_session_path, {method: 'delete', class: 'btn btn-outline-secondary btn-sm'}%>
          </div>
        </nav>
        <% end %>
      </header>
      <main role="main" class="top-gap">
        <%= render "alert" %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
