<!DOCTYPE html>
<html>
  <head>
    <title>GistGood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= image_tag "logo_transparent_new.png", width: 50, style: "margin-right: 10px;" %>
          <%= link_to "Gist Catch", root_path, {class: "navbar-brand nav-header"}%>
          <% if user_signed_in? %>
            <div class="align-right">
              <%= link_to 'Sign out', destroy_user_session_path, {method: 'delete', class: 'btn btn-outline-secondary btn-sm'}%>
            </div>
          <% end %>
        </nav>
      </header>
      <main role="main" class="top-gap">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
